<div class="notification-grid">
    <img class="avatar" src="https://images.unsplash.com/photo-1580489944761-15a19d654956" />
    <div class="notification-card">
        <div class="notification-header">
            <img class="icon" src=".\assets\bell-solid.svg"/>
            <div class="notification-title">John liked your photo</div>
            <div class="notification-time">9:00AM</div>
        </div>
        <div class="notification-content">
            The photo of your dof was liked by John. 
        </div>

    </div>
</div>