.typewriter {
    display: flex;
    justify-content: center;
}

.typewriter p {
    font-family: monospace;
    font-size: 1.5rem;
    margin-inline: auto;
    overflow: hidden;
    white-space: nowrap; // keep text on one single line
    border-right: 1px solid; // the cursor
    animation: typing 3s steps(22) forwards, blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}