.button-group-slide {
    
    border: 1px solid #fff;
    background-color: #141414;
    color: #fff;
    display: flex;
    width: fit-content;
    border-radius: 20px;
    position: relative;
    align-items: center;

    button {
        padding: 20px 60px;
        border-radius: 20px;
        height: 40px;
        width: 200px;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        color: white;
    }
    .active {
        background-color: transparent;
        border: 1px solid #fff;
        height: 40px;
        width: 200px;
        border-radius: 20px;
        position: absolute;
        transform: translate(0, 0);
        transition: transform 1s;
        &.move {
            transform: translate(200px, 0);
        }
    }
}