.hello {
    // background-image: url("https://fastly.picsum.photos/id/20/600/400.jpg?hmac=khWXn2_eQfbxMwcGhPwbHau8xMlt0aauVDoWMS-3DeI");
    background-image: url("https://i.ibb.co/bMvc7Zr6/Vibrant-Summer-Meadow-Watercolor.png");
    background-size: cover;
    background-clip: text;
    -webkit-backface-clip: text;
    color: transparent
}